html {
    height: 100%;
}
header {
    display: flex;
    justify-content: space-around;
    top: 0vh;
    height: 10vh;
    align-items: center;
}

header p {
    font-size: 6vh;
}

body {
    background-color: #e6e6e6;
    color: rgb(41, 39, 39);
    font-family: Helvetica;
    font-weight: bold;
    overflow: hidden;
}

body p {
    font-size: 2.em;
}

a {
    text-decoration: none;
    color: black;
}

.header-left {
    display: flex;
    width: 10vh;
    justify-content: space-around;
    align-items: center;
}
.header-center {
    display: flex;
}
.header-right {
    display: flex;
}

#menu-burger {
    height: 4.5vh;
    width: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

#menu-burger .line {
    background: black;
    border-radius: 50vh;
    width: 100%;
    height: 15%;
}

#main-div {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  17px 17px 13px #a3a3a3, -17px -17px 13px #ffffff;
    margin: 0 3vh;
    height: 79vh;
    overflow-y: scroll;
    padding: 3vh;
}

#main-content {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    justify-content: center;
}

